<div class="row" style="margin-left: 450px">
  <div class="col s12 m10">
    <div class="card">
      <% @tweets.each do |tweet| %>
      <%= render partial: "tweet", locals: { tweet: tweet } %>
      <% end %>
    </div>
  </div>
</div>
