<div class="card-image">
  <img src="<%= tweet.image %>" width="800" hight="500">
  <span class="card-title" style="margin-bottom: 15px">
  <%= tweet.text %>
    </span>
    <% if user_signed_in? && current_user.id == tweet.user_id %>
    <%= link_to 'edit', "/tweets/#{tweet.id}/edit", class: "waves-effect waves-light btn blue-grey darken-3 btn wave-effect waves-red", method: :get %>
    <%= link_to '削除', "/tweets/#{tweet.id}", class: "waves-effect waves-light btn blue-grey darken-3", method: :delete %>
  <% end %>
</div>
